@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navi{
    font-family: Arial ;
    font-size: 18px;
    padding: 10px;
    background-color: #eaeaea;
    margin-bottom: 50px;
    
}
.navi a{
    padding: 10px;
    margin: 0 10px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}
a:hover{
    color: rgba(5, 63, 163, 0.834);
    background-color: rgba(239, 239, 239, 0.107);
    box-shadow: rgba(20, 94, 206, 0.834) 6px 2px 16px 0px, rgba(93, 157, 221, 0.8) -6px -2px 16px 0px;
    border-radius: 8px;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: content-box radial-gradient(rgb(96, 239, 255), rgb(1, 26, 71));
    margin: 0;
}

.container {
    padding: 1em;
    width: 400px;
    display: flex;
}


.form {
    position: relative;
    padding-right: 20%;
    padding-left: 15%;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 5px outset;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    background-color: rgba(255, 255, 255, 0.361);
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 30%;
    box-shadow: rgb(255, 255, 255) 6px 6px 16px 6px, rgb(7, 211, 252) -6px -6px 16px 6px;
}


.imgsign{
    margin-left: -60px;
}


.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;

}

.form-field {
    margin-bottom: 5px;

}

.form-field label {
    display: block;
    color: rgb(104, 104, 104);
    margin-bottom: 5px;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding:10px 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-right: 400px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: rgb(255, 0, 0);
}

.form-field.success input {
    border-color: rgb(3, 172, 3);
}


.form-field small {
    color: rgb(236, 0, 0);
}



/* ------------- button ------------- */
.btn {
    width: 100%;
    padding: 3%;
    background-color: rgb(29, 110, 11);
    border-radius: 3px;
    color: #fff;
    border-color: rgba(95, 97, 95, 0);
    font-size: 16px;
    margin-top: 5px;
}

.btn:hover {
    background: #03ca32;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}


/*---------------- footer-------------- */
footer{
    width: auto;
    height: auto;
    background-color: #000000d8;
    color: aliceblue;
    margin-top: 40px;
  }
  
  .contfoot{
    display: flex;
    justify-content: space-evenly;
    line-height: 2;
    align-items: baseline;
    font-family: sans-serif;
    padding-bottom: 20px;
  }
  
  .courses{
    padding: 0 50px;
  }
  
  .whyus{
    text-align: center;
    padding: 0 20px;
  }

  .whyus:hover{
    background-color: whitesmoke;
    color: rgb(27, 92, 148);
    box-shadow: rgba(20, 94, 206, 0.834) 6px 2px 16px 0px, rgba(93, 157, 221, 0.8) -6px -2px 16px 0px;
    border-radius: 20px;
  }

  .contactus{
    padding: 0 30px;
  }

  .sign{
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    font-size: 16px;
  }

  .container .imgsign :hover{
    box-shadow: rgb(255, 255, 255) 8px 8px 16px 8px, rgb(255, 255, 255) -8px -4px 16px 8px;

  }